<!-- Footer -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.github_username %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}" class="social__icon" target="_blank">
              <i class="fab fa-github" aria-hidden="true"></i>
            </a>
          </li>
          {% endif %}
          {% if site.dev_username %}          
          <li class="list-inline-item">
            <a href="https://dev.to/{{ site.dev_username }}" class="social__icon" target="_blank">
              <i class="fab fa-dev" aria-hidden="true"></i>
            </a>
          </li>
          {% endif %}
          <li class="list-inline-item">
            <a href="https://www.divine-designs.net" class="social__icon social__icon--divine" target="_blank">
              <img src="/img/logo--dark.png" />
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
      </div>
    </div>
  </div>
</footer>
